@import "tailwindcss";

@theme {
  --animate-squash-once: squash 0.5s cubic-bezier(0.25, 1, 0.5, 1) 1;

  @keyframes squash {
    0% {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.5, 0.4);
    }
    60% {
      transform: scale(0.9, 1.1);
    }
    80% {
      transform: scale(1.05, 0.95);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
